# How to handle categorical varibles

In [ ]:
intro:
Categroical data is

In [1]:
import pandas as pd
dataset = pd.read_csv('Churn_Modelling.csv')
X = dataset.iloc[:,3:-1]
y = dataset.iloc[:,-1]

In [2]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [3]:
X

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77
9997,709,France,Female,36,7,0.00,1,0,1,42085.58
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78

- Here we can see that we have so many categorical columns. but its not necessary to contain 'RowNumber', 'CustomerId', 'Surname' for modeling purpuse. So we are going to remove tthese columns.

-here we are chosing the necessary column. using the __.iloc__ we can select particula columns.

- We sucessfully  remove unnecessary columns. now we are going to the next process.

### Using the __get_dummies__

- It is function in the pandas libraries. using this we can create dummy variables.to handle the categorical features.

In [4]:
X.columns

Index(['CreditScore', 'Geography', 'Gender', 'Age', 'Tenure', 'Balance',
       'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary'],
      dtype='object')

In [5]:
geography = pd.get_dummies(X['Geography'], drop_first = True)
gender    = pd.get_dummies(X['Gender'], drop_first = True)

In [6]:
geography

      Germany  Spain
0           0      0
1           0      1
2           0      0
3           0      0
4           0      1
...       ...    ...
9995        0      0
9996        0      0
9997        0      0
9998        1      0
9999        0      0

[10000 rows x 2 columns]

In [7]:
print(geography)

      Germany  Spain
0           0      0
1           0      1
2           0      0
3           0      0
4           0      1
...       ...    ...
9995        0      0
9996        0      0
9997        0      0
9998        1      0
9999        0      0

[10000 rows x 2 columns]

- Here we dropped First Columns cause using two columns we can avoid the dummy varible trap problem.
- if we see back in our '__Geography__' columns there are  3 states  'France', 'Germany & 'Spain'. here '0' can be indicate  as as 'France' in both column.

### Method 2
#### LabelEncoder

- here but if we want to use Imputer then we have to convert dataset into array cause it don't support pandas dataframe.
-

In [8]:
X = dataset.iloc[:,3:-1].values
y = dataset.iloc[:,-1].values

In [9]:
X

array([[619, 'France', 'Female', ..., 1, 1, 101348.88],
       [608, 'Spain', 'Female', ..., 0, 1, 112542.58],
       [502, 'France', 'Female', ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 'Female', ..., 0, 1, 42085.58],
       [772, 'Germany', 'Male', ..., 1, 0, 92888.52],
       [792, 'France', 'Female', ..., 1, 0, 38190.78]], dtype=object)

- Now we have to LabelEncoder method.

In [10]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

### Applying LabelEncoder

In [11]:
le = LabelEncoder()
X[:,2] = le.fit_transform(X[:,2])

In [12]:
X

array([[619, 'France', 0, ..., 1, 1, 101348.88],
       [608, 'Spain', 0, ..., 0, 1, 112542.58],
       [502, 'France', 0, ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 0, ..., 0, 1, 42085.58],
       [772, 'Germany', 1, ..., 1, 0, 92888.52],
       [792, 'France', 0, ..., 1, 0, 38190.78]], dtype=object)

- Here we used labelencoder for 'Gender' Column but we can't  use  for '__Geogrpahy__' column because. it contain 3 types of varibles __['France', 'Spain, 'Germany']__ labelencoder only works for two variables. So For __Geography__ columns we will use OneHotEncoder

In [13]:
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer([('state', OneHotEncoder(), [1])], remainder = 'passthrough')
X = ct.fit_transform(X)

In [14]:
X

array([[1.0, 0.0, 0.0, ..., 1, 1, 101348.88],
       [0.0, 0.0, 1.0, ..., 0, 1, 112542.58],
       [1.0, 0.0, 0.0, ..., 1, 0, 113931.57],
       ...,
       [1.0, 0.0, 0.0, ..., 0, 1, 42085.58],
       [0.0, 1.0, 0.0, ..., 1, 0, 92888.52],
       [1.0, 0.0, 0.0, ..., 1, 0, 38190.78]], dtype=object)

- So here we sucessfully converted ['Gender' & 'Geography'] categorical  columns using __LabelEncoder, OneHotencoder__